.cover-slider {
  width: 100%;
  min-height: fit-content;
  height: 100vh;
  display: block;

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;

    .slide {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      display: flex;
      opacity: 0;
      visibility: hidden;
      transition: 0.6s ease;

      &.visible {
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }

      .bg-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        object-fit: cover;
        object-position: center center;
      }

      &__inner {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .container {
          display: flex;
          justify-content: center;
          align-items: center;

          @media (min-width: $ldpi) {
            max-width: 1135px;
          }

          &.center {
            justify-content: center;
            * {
              text-align: center;
            }
            .content {
              justify-content: center;
              align-items: center;
            }
          }

          &.right {
            justify-content: flex-end;
            @media (min-width: $mdpi) {
              .content {
                max-width: 600px;
              }
            }
          }

          &.left {
            justify-content: flex-start;
            @media (min-width: $mdpi) {
              .content {
                max-width: 600px;
              }
            }
          }
        }

        .content {
          max-width: 305px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          @media (min-width: $ldpi) {
            max-width: 100%;
          }

          * {
            text-align: left;
          }

          &.visible {
            .title {
              opacity: 1;
              transform: translateY(0);
              color: #fff;

              &::before {
                width: calc(100% + 12px);
              }

              &::after {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                animation-name: height-effect;
                animation-timing-function: ease-in;
                animation-duration: 0.8s;
                animation-delay: 1s;

                @media (min-width: $tablet) {
                  animation-name: height-effect-tablet;
                }
                @media (min-width: $ldpi) {
                  animation-name: height-effect-ldpi;
                }

                @keyframes height-effect {
                  0% {
                    height: 0;
                    bottom: 0;
                  }

                  50% {
                    height: calc(100% - 5.8rem);
                  }

                  75% {
                    height: calc(100% - 5.8rem);
                    top: 5.8rem;
                    bottom: auto;
                  }

                  100% {
                    height: 0;
                    top: 5.8rem;
                    bottom: auto;
                  }
                }

                @keyframes height-effect-tablet {
                  0% {
                    height: 0;
                    bottom: 0;
                  }

                  50% {
                    height: calc(100% - 7rem);
                  }

                  75% {
                    height: calc(100% - 7rem);
                    top: 7rem;
                    bottom: auto;
                  }

                  100% {
                    height: 0;
                    top: 7rem;
                    bottom: auto;
                  }
                }

                @keyframes height-effect-ldpi {
                  0% {
                    height: 0;
                    bottom: 0;
                  }

                  50% {
                    height: calc(100% - 9rem);
                  }

                  75% {
                    height: calc(100% - 9rem);
                    top: 9rem;
                    bottom: auto;
                  }

                  100% {
                    height: 0;
                    top: 9rem;
                    bottom: auto;
                  }
                }
              }
            }

            .subtitle {
              opacity: 1;
              transform: scale(1);
            }

            .btn {
              width: fit-content;
              padding: 7.5px 15px;
              @media (min-width: $ldpi) {
                padding: 10px 30px;
              }
            }
          }

          .title {
            position: relative;
            font-size: 2.1rem;
            font-weight: 400;
            color: transparent;
            transform: translateY(300px);
            transition: color 1.8s ease 1.2s, transform 0.6s ease;

            @media (min-width: $ldpi) {
              font-size: 6rem;
              line-height: 9rem;
            }

            &::first-line {
              font-weight: 600;
            }

            &::before {
              content: "";
              height: 5.8rem;
              width: 0;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              z-index: -1;
              background-color: rgba(var(--secondary-color), 1);
              transition: 0.4s ease-in-out 0.4s;
              transition-delay: 0.4s;

              @media (min-width: $ldpi) {
                height: 9rem;
              }
            }

            &::after {
              content: "";
              width: calc(100% + 12px);
              margin-top: 5px;
              z-index: 3;
              background-color: #fff;
            }
          }

          .subtitle {
            margin-bottom: 50px;
            color: #fff;
            font-size: 2rem;
            opacity: 0;
            transform: scale(0);
            transition: opacity 1.5s ease 0.8s, transform 1.2s ease 0.6s;
          }

          .btn {
            width: 0;
            padding: 7.5px 0;
            position: relative;
            left: 0;
            overflow: hidden;
            display: flex;
            transition: 0.3s linear 1.8s, background-color 0.3s linear;

            @media (min-width: $ldpi) {
              padding: 10px 0;
            }

            span {
              text-wrap: nowrap;
            }

            &:hover {
              background-color: rgb(var(--primary-color));
              span {
                color: #fff;
                transition: 0.3s linear;
              }
            }
          }
        }
      }
    }
  }
}
